@use "colours" as clr;
* {
    margin:       0;
    padding:      0;
    box-sizing:   border-box;
    font-family: 'Readex Pro', sans-serif;

    color: inherit;

    transition: color .3s, background .3s, fill .3s, border .3s, border-radius .3s, transform .3s;
}

body {
    color: clr.$text;
    background-color: clr.$dark;
}