<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
    <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {% block head %}
        <title>PictureIt</title>
    {% endblock %}
</head>

<body class="app">
    <nav>
        <a href="./feed" class="current"><span icon="feed"></span>Feed</a>
        <a href="./explore"><span icon="explore"></span>Explore</a>
        <a href="./profile"><span icon="profile"></span>Profile</a>
        <div class="spacer"></div>
        <a href="./news"><span icon="feed"></span>News</a>
        <a href="./settings"><span icon="profile"></span>Settings</a>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <div class="quickies"></div>
    <script src="/static/scripts/icons.js" type="module"></script>
</body>