<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        html { display: none;}
    </style>

    <noscript>
        <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
        <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/scale.css">
    </noscript>

    <script defer>
        document.head.innerHTML += `
            <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
            <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/static/main.css">
            <link rel="stylesheet" type="text/css" href="/static/scale.css">
        `
    </script>

    {% block head %}
        <title>PictureIt</title>
    {% endblock %}
</head>

<body class="app">
    <nav>
        <a class="{{ "active" if options.activeTab === "feed" }}" href="/app/feed"><span icon="feed"></span>Feed</a>
        <a class="{{ "active" if options.activeTab === "explore" }}" href="/app/explore"><span icon="explore"></span>Explore</a>
        <a class="{{ "active" if options.activeTab === "profile" }}" href="/app/profile"><span icon="profile"></span>Profile</a>
        <div class="spacer"></div>
        <a class="{{ "active" if options.activeTab === "news" }}" href="/app/news"><span icon="feed"></span>News</a>
        <a href="/app/profile/settings"><span icon="profile"></span>Settings</a>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <div class="quickies">
        <button class="quickie-button" id="liked-posts">
            <span icon="liked_posts"></span>
            <span class="tooltip">Se inlägg du gillat.</span>
        </button>

        <button class="quickie-button" id="add-post">
            <span icon="add_post"></span>
            <span class="tooltip">Ladda upp ett inlägg!</span>
        </button>

        <button class="quickie-button" id="logo">
            <img src="/static/logo.svg" loading="lazy">
            <span class="tooltip">Hmm?</span>
        </button>
    </div>
    <script src="/static/scripts/icons.js" type="module"></script>
</body>