<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        html { display: none;}
    </style>

    <noscript>
        <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
        <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </noscript>

    <script defer>
        document.head.innerHTML += `
            <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
            <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/static/main.css">
        `
    </script>

    {% block head %}
        <title>PictureIt</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        <p>Hello world!</p>
    {% endblock %}
</body>
</html>
