<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        html { display: none;}
    </style>

    <noscript>
        {% include "./tags.njk" %}
    </noscript>

    <script defer>
        document.head.innerHTML += `{% include "./tags.njk" %}`
    </script>

    {% block head %}
        <title>PictureIt</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        <p>Hello world!</p>
    {% endblock %}
</body>
</html>
