{% extends "templates/base.njk" %}

{% block head %}
<title>Explore</title>
{% endblock %}

{% block main %}
    EXPLORE

{% endblock %}

{% block body %}
    <form id="form"> 
    <input type="search"  placeholder="Search...">
    <button>Search</button>
</form>
{% endblock %}