{% extends "templates/app.njk" %}

{% block head %}
    <title>PictureIt - Explore</title>
{% endblock %}

{% block main %}
    EXPLORE
    <form class="box-form" id="form">        
        <span icon="explore"></span>
        <input type="search"  placeholder="Search...">      
        <button class="primary">Search</button>
    </form>
{% endblock %}