{% extends "templates/app.njk" %}

{% block head %}
    <title>PictureIt - Explore</title>
{% endblock %}

{% block main %}
    EXPLORE
    <form id="form">
        <input type="search"  placeholder="Search...">
        <button>Search</button>
    </form>
{% endblock %}