{% extends "templates/base.njk" %}

{% block body %}
<main class="landing">
    <header>
    <span>Picture</span><span>It</span>
    </header>
    <a class="primary" href="/app/auth/register">Register!</a>
    <a class="secondary"href="/app/auth/login">Log In!</a>
    <img src="/static/logo.svg" alt="">
</main>
{% endblock %}