{% extends "templates/base.njk" %}

{% block body %}
<main class="landing">
    <header>
        Picture<span>It</span>
    </header>
    <div class="actions">
        <a class="btn primary" href="/app/auth/register">Register</a>
        <a class="btn secondary" href="/app/auth/login">Log In</a>
    </div>
    <img src="/static/logo.svg" alt="">
</main> 
{% endblock %}