{% extends "templates/base.njk" %}

{% block body %}
    
    <div class="form-box">

        <form action="./register" method="post">
            <h1>Create account!</h1>

            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="FancyCat">

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="|\/|'/ s|_|p3r s3cr37 p4ss\/\/0rd">

            <label for="confirmPass">Confirm Password:</label>
            <input type="password" name="confirmPass" placeholder="|\/|'/ s|_|p3r s3cr37 p4ss\/\/0rd">

            <button type="submit">Create account!</button>
            <a href="/app/auth/login">Log in! </a>
            <a href="#">Reset Password</a>

        </form> 
    </div>

{% endblock %}