{% extends "templates/base.njk" %}

{% block head %}
<title>User</title>
{% endblock %}

{% block body %}
    <div class="form-box">

        <div class="user-created">
            <h1>Your account has successfully been created</h1>
        </div>
    </div>
{% endblock %}