@use "partials/colours" as clr;

* {
margin: none;
}

input, p, h1, label {
    color: clr.$primary
    
}

.form-box {
    display: flex; 
    justify-content: center;
    height: 100vh;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
}




input {
    background-color: clr.$darker;
    border-style: solid;
    border-radius: 5px 5px 13px 5px;
    border-color: clr.$primary;
    width: 25rem;
    height: 2rem;
}

p {
    
}

h1{

}

button {
background-color: clr.$primary;
color: clr.$dark;
width: fit-content;
height: 2rem;
padding: 0 1rem;
border-radius: 5px 5px 13px 5px;
border: none
}