@use "partials/colours" as clr;

button {
    background-color: clr.$primary;
    color: clr.$dark;
    width: fit-content;
    height: 2rem;
    padding: 0 1rem;
    border-radius: .5rem .5rem .75rem .5rem;
    border: none;
    margin-bottom: 1rem;

    .primary {
        padding: 3rem;
        background-color: clr.$primary;
        display: grid;
    }

    .secondary {
        padding: 3rem;
        background-color: clr.$dark;
        border-color: clr.$primary;
        border-width: 2px;

    }
}