@use "partials/colours" as clr;

* {
    margin: none;
}

.form-box > form {
    background-color: clr.$backdrop;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem;
    border-radius: 1rem 1rem 2rem 1rem;

    input, p, h1, label {
        color: clr.$primary
    }

    p.error {
        color: clr.$destructive;
        margin-bottom: 1.5rem;
    }

    a {
        color: clr.$primary;
        text-decoration: none;
    }

    h1 {
        font-weight: 300;
        margin-bottom: 1.5rem;
    }
}

.form-box {
    display: flex;
    justify-content: center;
    height: 100vh;
}

input, p, h1, label {
    color: clr.$primary
}

input {
    background-color: clr.$darker;
    border-style: solid;
    border-radius: .5rem .5rem 1rem .5rem;
    border-color: clr.$primary;
    width: 25rem;
    height: 2rem;
    margin-bottom: 1.5rem;
}