@use "partials/colours" as clr;

* {
    margin: none;
}

.form-box > form {
    background-color: clr.$backdrop;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem;
    border-radius: 1rem 1rem 2rem 1rem;

    input, p, h1, label {
        color: clr.$primary
    }

    p.error {
        color: clr.$destructive;
        margin-bottom: 1.5rem;
    }

    a {
        color: clr.$primary;
        text-decoration: none;
    }

    h1 {
        font-weight: 300;
        margin-bottom: 1.5rem;
    }
}

.form-box {
    display: flex;
    justify-content: center;
    height: 100vh;
}

input, p, h1, label {
    color: clr.$primary
}

<<<<<<< Updated upstream:src/scss/forms.scss
=======
h1 {
    font-weight: 300;
}
    
>>>>>>> Stashed changes:src/scss/auth.scss
input {
    background-color: clr.$darker;
    border-style: solid;
    border-radius: .5rem .5rem 1rem .5rem;
    border-color: clr.$darker;
    width: 25rem;
    height: 2rem;
    margin-bottom: 1.5rem;
<<<<<<< Updated upstream:src/scss/forms.scss
=======
    margin-top: 0.3rem;
}

input:hover {
    border-color: clr.$primary;
}


h1{
    font-weight: 300; 
    margin-bottom: 1.5rem;
}

a {
    color: clr.$primary;
    text-decoration: none;
}

button {
    background-color: clr.$primary;
    color: clr.$dark;
    width: fit-content;
    height: 2rem;
    padding: 0 1rem;
    border-radius: .5rem .5rem .75rem .5rem;
    border: none;
    margin-bottom: 1rem;
>>>>>>> Stashed changes:src/scss/auth.scss
}