@use "partials/colours" as clr;

main.landing {
    display: grid;
    grid-template-areas: '...';

    img {
        width: 40rem;
        
    }

    header {
        color: clr.$primary;

        > span {
            color: clr.$accent;
        }
    }

    .primary, .secondary {
            
        
    }

}

