@use "partials/colours" as clr;

* {
    margin: none    
}

main.landing {
    display: grid;
    grid-template-areas: 'header  logo'
                         'actions logo';

    img {
        grid-area: logo;
        width: 40rem;
    }

    header {
        grid-area: header;
        color: clr.$primary;

        > span {
            color: clr.$accent;
        }
    }

    .actions {
        grid-area: actions;
    }
}

