@use "partials/colours" as clr;

* {
    margin: none
}

main.landing {
    display: grid;
    grid-template-areas: 'header  logo'
                         'actions logo';
    grid-template-columns: max-content 1fr;
    min-height: 100vh;

    img {
        grid-area: logo;
        width: 40rem;
        margin: auto;
    }

    header {
        grid-area: header;
        font-size: 4rem;
        margin: auto 0 2rem 5rem;

        > span:first-child {
            color: clr.$primary;
        }

        > span:last-child {
            color: clr.$accent;
        }
    }

    .actions {
        margin: 0 5rem;
        grid-area: actions;

        .btn {
            margin-right: 2rem;
        }
    }
}

